{{!< layout}} <div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto flex-row mt-4 px-4">
  {{!-- left side --}}
  <div class="col-span-7">

    <h4 class="text-2xl text-center text-purple-800  font-extrabold"><i class="fa fa-solid fa-compact-disc mr-2"></i>NEW Album Releases</h4>
    <article class="mt-2 rounded-xl p-2 h-auto">
      <div class="mt-2 grid grid-cols-3">
        {{!-- cd --}}
        {{#each albums as |album|}}
        <div class="border-2 border-purple-900 rounded-xl m-2 p-2 h-auto bg-gradient-to-t from-indigo-300 via-purple-300 to-pink-100 ...">
            <div class="justify-center flex">
              <img src="{{album.img}}" width="100px" class="bg-white rounded-lg border border-gray-500 p-1"/>
            </div>
          {{!-- cd end --}}
          <article class="border border-pink-600 mt-2 bg-pink-100 rounded-lg p-2">
            <h3 class="text-center text-purple-900 font-bold underline">{{album.title}}</h3>
            <small class="font-bold text-xs">By: {{album.artist}} <br />
              Released on {{formatDate album.relDate}}</small>
            <button class="spotify-btn" data="{{album.exLink}}">Go to spotify</button>
          </article>
        </div>
        {{/each}}
    </article>
  </div>

  {{!-- right side --}}
  <div class="col-span-5 ml-4">

    <h2 class="text-2xl text-center font-extrabold text-pink-800 mb-6"><i class="fa fa-solid fa-user-plus mr-2"></i>New Users</h2>
    <div class="border border-pink-600 mt-2 h-auto bg-pink-100 rounded-lg p-4">
      {{#each newusers as |user|}}
      <a href="/users/{{user.id}}">
        <p class="text-pink-500 mb-4 hover:text-pink-700 font-bold">{{user.name}} just joined! Say Hello~~</p>
        </a>
        {{/each}}
      
    </div>

    <h2 class="text-2xl text-center font-extrabold text-pink-800 mt-6 mb-6"><i class="fa fa-regular fa-comment-dots mr-2"></i>Recent Comments</h2>
    
      {{#each comments as |comment|}}
      <div class="border border-pink-600 mt-2 h-auto bg-pink-100 rounded-lg p-4">
      <p class="text-pink-700 text-lg font-bold mb-4"> {{comment.content}}</p>
      <small>{{comment.user.name}} on <b>"{{comment.post.title}}"</b> </small> 
      <a href="/posts/{{comment.post.id}}">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 ml-2 rounded text-xs"
              type="submit">Go to Post</button></a>
      </div>
        {{/each}}
  
    
    {{!-- Top tags --}}
  
    <h2 class="text-2xl text-center font-extrabold text-pink-800 mt-6 mb-6"><i class="fa fa-solid fa-tag mr-2"></i>Your Top Tags</h2>

    <div class="border border-pink-600 mt-2 h-auto bg-pink-100 rounded-lg p-4">
      <h4 class="text-lg font-bold text-pink-800 mb-6">Click on these Tags to View Posts Related to Topics:</h4>
      <p class="text-pink-600 text-xl">
        {{#each tags as |tag|}}
            <a href="/tags/{{tag.id}}" class="tag">
            <class="">#</class>{{tag.name}}
            </a>
        {{/each}}  
      </p>
    </div> 

    <h2 class="text-2xl text-center font-extrabold text-pink-800 mt-6 mb-6"><i class="fa fa-brands fa-spotify mr-2"></i>Recent Posts</h2>

    <article class="box-container main-border border-pink-500 mt-2 rounded-xl p-2 h-auto">

      <div id="interact_box">
      {{#each newposts as |post| }}

      <div class="border-2 border-pink-900 rounded-lg m-2 p-2">
        <div class="top-half inline-flex h-auto w-auto">

          {{!-- cd --}}
          <div class="cd-case pr-6">
            <div class="album-art">
              <img src="{{post.cover_img}}" />
            </div>
            <div class="spine"></div>
          </div>
          {{!-- cd end --}}

          <div class="ml-10 w-auto h-auto">
            <h3 class="text-xl font-bold underline">{{post.title}}</h3>
            <span class="text-sm">{{post.content}}</span>
            <br />
            <small class="text-xs text-pink-900"><i class="fa fa-solid fa-pen-to-square mr-2 mb-2"></i>Post created on {{formatDate post.createdAt}}</small>
            <small><i>{{post.post_type}}</i></small>
            <br>

            {{!-- heart button. Like and unlike --}}
            <span><button
                class="likebtn heart-btn bg-pink-500 hover:bg-pink-600 text-white py-1 px-2 rounded-lg text-xs w-auto h-auto"
                type="submit" data="{{post.id}}" data-count="{{post.upvotes}}">
                <i class="fa fa-heart"></i>
                {{post.upvotes}} upvotes
              </button></span>

            {{!-- heart button end --}}
            <button class="linkbtn bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs"
              type="submit" data="{{post.id}}">Go to Post</button>
          </div>
        </div>

        <div class="box-container border border-pink-600 mt-2 bg-pink-100 rounded-lg p-2">
          <div class="box p-2">
            <form class="commentbox">
              <textarea class="commentbox w-full h-10 border-2 rounded-lg resize-none focus:outline-purple-500" style="text-indent: 10px"
                placeholder="Type your comment here"></textarea>
              <button
                class="post-btn commentbtn bg-pink-500 hover:bg-pink-600 text-white text-xs font-medium py-2 px-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent"
                type="submit" data="{{post.id}}">Post Comment</button>
            </form>
          </div>
        </div>

      </div>

      {{/each}}
    </div>
      
    </article>
    </div>

  </div>
  </div>
  </div>

  <script src="/js/animation.js"></script>
  <script src="/js/interactPost.js"></script>