{{!< layout}} <div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto flex-row">
  <div class="col-span-7">
    <h4 class="text-xl font-bold mb-2">Trending playlists</h4>
    <div class="main-border border border-black mt-2">
      {{#each posts as |post| }}
      <div class="flex gap-4 border border-black mt-2 ml-2 mr-2 mb-2">

        {{!-- cd  --}}
        <div class="cd-case pr-6">
          <div class="album-art">
            <img src="{{post.cover_img}}"/>
            <div class="sup pos-tl"></div>
            <div class="sup pos-tr"></div>
            <div class="sup pos-bl"></div>
            <div class="sup pos-br"></div>
          </div>
          <div class="spine"></div>
        </div>
        {{!-- cd end --}}

        <div class="mt-2">
          <h3 class="text-lg font-bold">{{post.title}}</h3>
          <span>{{post.content}}</span>
          <br />
          <small>Post created on {{formatDate post.createdAt}}</small>
          <small><i>{{post.post_type}}</i></small>

          {{!-- heart button. Like and unlike --}}
          <button class="like" onclick="liked()">
            <i class="fa fa-heart"></i>
            <span class="icon">Like</span>
          </button>
          {{!-- heart button end --}}

        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-span-3">
    <h2 class="text-xl font-bold mb-2">Community Spotlight</h2>
    <div class="border border-black mt-2 h-80">
      <h4 class="text-lg font-bold mb-2">Box title</h4>
      <p></p>
    </div>
  </div>
  <div class="col-span-2 ml-4">
    <h2 class="text-xl font-bold mb-2">Post Tags</h2>
    <div class="border border-black mt-2 h-64">
      <h4 class="text-lg font-bold mb-2">Another box title</h4>
      <p>Another box content goes here</p>
    </div>
    <h4 class="text-lg font-bold mb-2 mt-4">Recent Activity</h4>
    <div class="border border-black mt-2 h-64">
      <p>Third box content goes here</p>
    </div>
  </div>
  </div>

  <script src="/js/animation.js"></script>