{{!< layout}} 
<div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto">
  <div id="interact_box"class="col-span-7">
    <br />
    <h4 class="text-3xl text-center font-bold text-purple-800 mb-6"><i class="fa fa-solid fa-list mr-2"></i>All Playlists</h4>
    <div class="border-4 border-purple-800 rounded-xl mt-2">
      {{#each posts as |post| }}
      <div class="border-2 border-pink-900 rounded-lg m-2 p-2 flex gap-4">
        {{!-- cd --}}
        <div class="cd-case pr-6">
          <div class="album-art">
            <img src="{{post.cover_img}}" />
          </div>
          <div class="spine"></div>
        </div>
        {{!-- cd end --}}
        <div class="ml-8 w-auto h-auto">
          <h3 class="text-lg font-bold underline">{{post.title}}</h3>
          <span class="text-sm">{{post.content}}</span>
          <br />
          <small class="text-xs text-pink-900"><i class="fa fa-solid fa-pen-to-square mr-2 mb-2"></i>Post created on {{formatDate post.createdAt}}</small>
          <br />
          <span><button class="likebtn heart-btn bg-pink-500 text-white py-1 px-2 rounded-lg text-xs" type="submit" data="{{post.id}}" data-count="{{post.upvotes}}" >
            <i class="fa fa-heart"></i>
            {{post.upvotes}} upvotes 
          </button></span>
           <button class="linkbtn bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs" type="submit" data="{{post.id}}">
            Go to Post
          </button>
          <button class="spotifybtn bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded text-xs"
              type="button" data="{{post.spotify_id}}">View on Spotify</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


 
</div>
<script src="/js/interactPost.js"></script>